<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/eb8185a5-b265-4cca-b460-b6548a374554/resourceGroups/my-rg/providers/Microsoft.Web/sites/myappservice1212</ResourceId>
    <ResourceGroup>my-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://myappservice1212.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6ce1a2e8-8f66-490d-a54f-d8b1bfe98296</ProjectGuid>
    <PublishUrl>https://myappservice1212.scm.azurewebsites.net/</PublishUrl>
    <UserName>$myappservice1212</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>