<div class="container">
    <table class="table table-bordered table-responsive">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titile</th>
                <th>Year</th>
                <th>Language</th>
                <th>Actor</th>
                <th>Director</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let movie of movies">
                <td>{{movie.movieId}}</td>
                <td>{{movie.title}}</td>
                <td>{{movie.releaseYear}}</td>
                <td>{{movie.language}}</td>
                <td>{{movie.actor}}</td>
                <td>{{movie.director}}</td>
                <td>
                    <button class="btn btn-info" (click)="getId(movie.movieId)">Edit</button> &nbsp;
                    <button class="btn btn-primary" (click)="delete(movie.movieId)">Delete</button> &nbsp;
                    <button class="btn btn-secondary" (click)="getId(movie.movieId)">View</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>